[app="app.horloge"] {
	background:url(images/background.jpg) no-repeat center center;
}

[app="app.horloge"] .outer_face {
    position: relative;
	top: 85px;
    width: 300px; /* width of clock */
    height: 300px; /* height of clock */
    border-radius: 300px; /* clock round corner radius */
    background: black;
    box-shadow: inset 0 0 25px #dddddd;
    border: 0 solid gray; /* thickness of outer border */
	margin: 0 auto; 

    }

[app="app.horloge"] .outer_face::before, .outer_face::after, .outer_face .marker { /* time markers syle */
    content: "";
    position: absolute;
    width: 8px; /* width of 12-6 and 3-9 markers */
    height: 100%;
    background: #dddddd;
    z-index: 0;
    left: 50%;
    margin-left: -4px; /* set this value of 1/2 marker width */
    top: 0
    }

[app="app.horloge"] .outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
    }

[app="app.horloge"] .outer_face .marker {
    background: #aaaaaa;
    width: 6px; /* width of all other markers */
    margin-left: -3px /* set this value of 1/2 marker width */
    }

[app="app.horloge"] .outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
    }

[app="app.horloge"] .outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
    }

[app="app.horloge"] .outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
    }

[app="app.horloge"] .outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
    }

[app="app.horloge"] .inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    background: black;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 6%; /* set this value of 1/2 width value*/
    top: 6% /* set this value of 1/2 height value*/
    }
	
[app="app.horloge"] .timedigital {
	position: relative;
	top: -60px;
	text-align: center;
	color: #dddddd;
	z-index: 1001;
    font: normal 0.8em Arial;
	opacity: 0.85;
	filter: alpha(opacity=85);
    }	

[app="app.horloge"] .tempdigital {
	position: relative;
	top: -60px;
	text-align: center;
	color: #dddddd;
	z-index: 1001;
    font: normal 0.8em Arial;
	opacity: 0.85;
	filter: alpha(opacity=85);
    }		

[app="app.horloge"] .inner_face::before {
    /* clock center circle small */
    content: "";
    width: 18px; /* width of inner circle */
    height: 18px; /* height of inner circle */
    border-radius: 18px;
    margin-left: -9px; /* set this value of 1/2 width value*/
    margin-top: -9px; /* set this value of 1/2 height value*/
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 35px red;
    }

[app="app.horloge"] .inner_face::after {
    position: absolute;
    width: 100%;
    color: gray;
    text-align: center;
    top: 85%
    }

[app="app.horloge"] .hand, .hand.hour {
    position: absolute;
    width: 4px; /* width of hour hand */
    height: 30%; /* height of hour hand */
    top: 20%; /* set top to 50% - height */
    left: 50%;
    margin-left: -2px; /* set this value to 1/2 width */
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: 2001;
    -moz-box-shadow: 0 0 3px gray;
    -webkit-box-shadow: 0 0 3px gray;
    box-shadow: 0 0 3px gray;
	background: red;
	opacity: 0.65;
	filter: alpha(opacity=65);
    }

[app="app.horloge"] .hand.minute {
    height: 42%; /* height of min hand */
    top: 8%; /* set top to 50% - height */
    width: 5px; /* width of min hand */
    margin-left: -2.5px; /* set this value to 1/2 width */
	background: red;
	opacity: 0.65;
	filter: alpha(opacity=65);
	z-index: 2002;
    }

[app="app.horloge"] .hand.second {
    height: 46%; /* height of sec hand */
	top: 4%; /* set top to 50% - height */
    width: 2px; /* width of sec hand */
    margin-left: -1px; /* set this value to 1/2 width */
    background: red;
	z-index: 2003;
	display: none;
    }
[app="app.horloge"]  #lighting {
	width: 100%;
	height: 100%;
	z-index: 9;
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	opacity: 0;
	}
